body{background: #fafafa;}
ul{list-style: none}
a:hover{text-decoration: none}
input[type=text]{border: 1px solid #7b79ff; outline: none;margin: .5rem;padding: 0 12px; background: transparent;}
table{text-align: center;width: 100%;}
table th{padding: 15px 3px;}
table td{padding: 15px 3px;border: 1px solid #fff;}
table tr:nth-child(odd){background: #dfecff}
/* Side Bar style */
.sideBar{float: right;width: 25%;height: 100%;background: #fff;margin-left: 5px;font-size: 13pt;font-weight: 500;position: fixed}
.content{float: left;height: auto;width: 74.5%;padding: 50px; background: #fff}
.accordion{height: auto; background:#fff;}
.accordion > ul > li > a{display: block;color: #4f41ee;padding: 10px 22px;background:#fff;border-bottom: 1px solid #dfecff;position: relative;}
.accordion > ul > li > ul > li > a{padding: 9px 32px;display: block;background: #e5d5f5; cursor: pointer;border-bottom: 1px solid #ff7ea9;}
.accordion > ul > li > ul > li > a:hover{background: #dfecff;transition: all 300ms ease;color: #ff5cab;border-bottom: 1px solid #ffc107}
.accordion > ul li .has-sub > a::before{content: '';position: absolute;width: 10px; height: 2px;background: #ff5cab;transition:all 300ms ease;left: 30px;
    top:21px;}
.delete,.edit{display: inline-block;margin-left-left: 10px;}
/***Start Admin-mange.php styles ****/
.AdminDetails{background: #7b92ff;color: #fff;padding: 10px;text-align: center;border-radius: 50px;}
/***End Admin-mange.php styles ****/
form{padding: 1rem;}
form input[type=text]{border: 1px solid #7b79ff; outline: none;margin: .5rem;padding: 5px; background: transparent}
form input[type=email]{border: 1px solid #7b79ff; outline: none;margin: .5rem;padding: 5px; background: transparent}
form input[type=password]{border: 1px solid #7b79ff; outline: none;margin: .5rem;padding: 5px; background: transparent}
form input[type=file]{border: 1px solid #7b79ff; outline: none;margin: .5rem;padding: 5px;}
form input[type=submit]{border: 1px solid #7b79ff; outline: none;margin: .5rem;padding: 5px; color:#fff;background:#7b79ff;}
form input[type=submit]:hover{color:#fff;background:#4A00E0;}
textarea{border: 1px solid #e7d6ff; outline: none;margin: .5rem;padding: 0 12px; background: transparent;width: 50%;min-height: 150px}
