
/*Global styles */
*,
*::before,
*::after{  margin: 0; padding: 0;  box-sizing: border-box;}
a{ text-decoration: none;  color: #0a0a23;}
a:hover{text-decoration: none}
ul{list-style: none;}
img{ max-width: 100%; height: auto;  }
section{padding: 5rem 0;}
html{
    font-size: 14px;
    direction: rtl;
}
body{color: #1b1e21;}
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    z-index: 1;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 0;
}
.navbar-brand{
    width: 2rem;
    text-shadow: 2px 2px 2px #f3b099;
}
#logo{
    text-shadow: 2px 2px 2px #f3b099;
}
.nav-list .nav-item{
    display: inline-block;
    text-shadow: 2px 2px 2px #f3b099;
    color:  mediumslateblue;
}

/*hero*/
.hero{
    width: 100%;
    height: 67vh;
 /*   background: linear-gradient(135deg,rgba(10,10,10,0.9) 0%,rgba(72,56,149,0.8)100%)
    ,url("../images/header-img.jpg") center no-repeat;*/
    background-size: cover;
    position: relative;

}

.main-message{
    width: 100%;
    max-width: 50rem;
    color: rgba(72,56,149,0.8);
    text-transform: uppercase;
    transform:translateY(20%);

}
.main-message h3{
    font-size: 1.6rem;
}
.main-message h2{
    font-family: 'Oswald',sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
}
.btn{
    background-color: #ff0081;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    transition: background-color 650ms;
    border: 2px solid #c1b3f8;
    padding: 4px;
}
.btn i{margin-right: 5px;}
.btn:hover{background-color: mediumslateblue;}
.btn-start-learning{
    border: 2px dashed #f3b099;
    border-radius: 2pt;
    display: inline-block;
    transition: background-color 650ms;
    padding: 10px;
    width: 10rem;
    color: mediumslateblue;
    background: #fafafa;
    transition: 500ms;
    text-shadow: 2px 2px 3px #f3b099;

}
.btn-start-learning:hover{
    border: 2px solid #f3b099;
    border-radius: 2pt;
    display: inline-block;
    transition: background-color 650ms;
    padding: 10px;
    width: 10rem;
    color: #fafafa;

}
.btn-start-learn2{
    font-size: 9pt;
    padding: 5px;
    font-weight: 100;
}
/*************************/

.wrapper{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box{
    margin-top: 5px;
    background: #643fef;
    position: relative;
    padding: 15px;
    border-radius: 50px;
    display: flex;
}

.search_box .search_btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7a5cf0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0px 0 3px;
    cursor: pointer;
}


.search_box .input_search{
    outline: none;
    border: 0;
    background: #7a5cf0;
    border-radius: 50px;
    padding: 15px 20px;
    width: 300px;
    height: 50px;
    color: #c1b3f8;
    font-weight: 100;
    font-size: 10pt;
}

::placeholder {
    color: #c1b3f8;
}

::-webkit-input-placeholder {
    color: #c1b3f8;
}

:-ms-input-placeholder {
    color: #c1b3f8;
}


/************************/
.experience-outdoors{padding: 0;}
.title-heading{
    text-align: center;
    margin-bottom: 10rem;
    color: rgba(0,0,0,.7);
}
.title-heading h3{
    font-size: 1.2rem;
}
.title-heading h1{
    font-family: 'B Yekan',sans-serif;
    font-size: 2rem;
    margin: .5rem 0 1rem;

}
.title-heading p{
    grid-template-columns: repeat(3,1fr);
    grid-gap:1.2rem;
}
.activities-grid-item{
    height: 30rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}
.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,rgba(49,24,131,0.9) 0%,rgba(72,56,149,0.8)100%);
    z-index: 1;
}
.star-gazing{
    background: url("../images/header-img.jpg");
    background-size:contain;
}
.hiking{
    background: url("../images/header-img.jpg");
    background-size:contain;
}
.camping{
    background: url("../images/header-img.jpg");
    background-size:contain;
}
.activities-grid-item i{
    font-size: 3rem;
    color: #eb648c;
}
.activities-grid-item h2{
    font-family: 'B Yekan',sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem;
}
/*  testimonials  */
.testimonials{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg,rgba(142,45,226,.9) 0%,rgba(74,0,224,.8)100%)
    ,url("../images/header-img.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;

}
.testimonials::before{
    content: "";
    position: absolute;
    top:-3px;
    left:0;
    width: 100%;
    height: 4rem;
    /*   background: url("#sub_foot") center no-repeat;  */
    background-size: cover;
}
.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px 3px #2deaf6;
}
.testimonial-text-box{
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    position: relative;

}
.testimonial-text-box i{
    position: absolute;
    top: -8rem;
    left: 50%;
    transform:translateX(-50%);
    font-size: 8rem;
    color: #eb648c;
    opacity: .5;
    z-index: -1;
}
.testimonial-customer img{
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    border: 3px solid #eb648c;
}
.container2{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.article_number{
    font-size: 50pt;
    color: #7a5cf0;
    border-radius: 52px;
    width: 52%;

}
.article-text{

}
.col-md-2-5{
    width:15rem;
    margin: 1rem;
    background: linear-gradient(135deg,rgba(10,10,10,0.9) 0%,rgba(72,56,149,0.8)100%);
    color: #fff;
    padding: 5px;
}
/* Begin adventure */
.activities-grid{
    text-transform: lowercase;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1.2rem;
    margin-bottom: 2rem;
}
.adventure-grid-item p{
    color: rgba(0,0,0,.7);
}
footer{
    padding: 2.5rem 0;
    background-color: #eaedf1;
    text-align: center;
    color: rgba(0,0,0,.7);
}
footer p{
    margin: 0;
}
.anchor{

}

.index-content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left:50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 350px;
    height: 200px;
    text-align: center;
    transition: all 1000ms;
}
.index-content .logo{
    height: 180px;
    width: 180px;
}
.index-content .title{
    font-size: 2.2rem;
    margin-top: 1rem;
}
.index-content .text{
    line-height: 1.7;
    margin-top: 1rem;
}
.index-buttons{
    float: left;
    margin-top: 10px;
}
.container{
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.grid-3{
    display: grid;
    grid-gap:20px;
    grid-template-columns:repeat(3,1fr);
}
.grid-2{
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(2,1fr);
}
.center{
    text-align: center;
    margin: auto;
}
.bg-light{
    color: #333;
}
.bg_dark{
    color: #f4f4f4;
}
/* start footer style*/
#footer{width:100%;overflow:hidden;width: 100%;background: linear-gradient(135deg,rgba(49,24,131,.9) 0%,rgba(72,56,149,1)100%),url("../images/about-us.jpg") center no-repeat fixed;  background-size: cover;  position: relative;}
#footer .copyright{text-align:center;color:#999;font-size:12px;padding:20px}
.text-for-socials{position: relative;top: 7rem;  background: #fff;  width: 13rem;  border-radius: 20px 0 0 20px;color: rgba(49,24,131,.9);  }
.socialCounts{float:left;overflow:hidden;margin-left:20px}
.footerSocial{overflow:hidden;background-color:#fff;display:block;text-decoration:none;text-align:center;}
.social-img-group{background: #fff;border-radius: 20px 0 0 20px; overflow: hidden;}
.social-img{width: 50%;height: auto; }
.footerMenu{margin-left:auto;margin-right:auto;overflow:hidden;width:115px}
.footerMenu p{font-weight:bold;color:#fafafa;font-size:1.4em;
}
.footerMenu ul{list-style:none}
.footerMenu ul li{margin-top:10px}
.footerMenu ul li a{font-weight:200;color:#f0f0f0;font-size:1em;text-decoration:none;text-shadow: 2px 2px 3px mediumslateblue}
.footerMenu ul li a:hover{color:#fff; text-shadow: 2px 2px 3px #ff0081}
#footer .about{float:right;overflow:hidden;margin-right:10rem}
.logoFooter{background-position:-12px -8px;width:200px;height:55px}
#footer .about div{margin-bottom:15px}
#footer .about p{font-weight:bold;color:#fff;font-size:1.35em;text-shadow: 2px 2px 3px #ff0081}
#footer .about address{font-weight:500;color:#b4bbc2;font-size:1.35em}
#footer .about button{font-size:16px;color:#fff;display:block;border:none;text-decoration:none;width:200px;height:36px;border-radius:6px;background-color:#ff0081;cursor:pointer;margin-top:20px;font-weight:300}
#footer .about button:hover{background-color:mediumslateblue;}

   @media screen and (max-width:695px){.footerContent{text-align:center}
    .socialCounts{display:inline-block;float:none;margin-bottom:15px}
    #footer .about{float:none;margin-bottom:15px;width:200px;margin-left:auto;margin-right:auto}
    #footer .about button{display:inline}
    .footerMenu ul{padding:0}
    .footerMenu{float:none;display:inline-block;margin-left:0}
}
@media screen and (max-width:385px){
    .socialElement{width:215px}
    .footerSocial{width:250px}
    .footerSocial span{font-size:1.7em;width:150px}
    .socialCounts{margin-left:auto;margin-right:auto}
    .socialOutline .twitterShare{width:90px}
   }
@media screen and (max-width:355px){.logo a{width:195px;margin-right:0;margin-left:20px}}
@media (max-width: 375px) {
    .social-img-group{display: none;}
    .text-for-socials{display:none;}
    #footer .about button{font-size:12px;width:120px;height:30px;margin-top:5px;font-weight:100}
}
@media (max-width: 770px) {
    .text-for-socials{position: relative;top: 1rem;}
    .social-img-group{background: #fff; width: 60px; height: 30vh;  }
    .social-img{width: 100%;height: auto;}
}
@media (max-width: 560px) {
    .text-for-socials {position: relative; top: 2rem;}
}
/*End footer style  */
/* Small Screens */
@media(max-width:560px) {
    .index-showcase::after {
        height: 50vh;
    }

    .index-content {
        top: 5%;
        margin-top: 5px;
    }

    .index-content .loop {
        height: 140px;
        width: 140px;
    }

    .index-content .text {
        display: none;
    }

    .grid-3, .grid-2 {
        grid-template-columns: 1fr;
    }

    .index-services div {
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }

    .main-message {
        display: none;
    }

    .nav-list .nav-item {
        display: block;
        align-self: center;
    }



}

@media (max-width: 690px) {
    .social-img-group{
        height: 35vh;
    }
    .social-img{
        width: 50%;
        height: auto;

    }
}

@media (max-width: 450px) {

    .wrapper{

        min-height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_box{
        margin-top: -70px;
        background: #643fef;
        padding: 5px;
        border-radius: 50px;
        display: flex;
    }

    .search_box .search_btn{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: #7a5cf0;
        margin: 0 2px 0 2px;
    }

    .search_box .input_search{
        padding: 5px 9px;
        width: 150px;
        height: 25px;
        font-size: 8pt;
    }

}

/* Landscape */
@media (max-height: 640px) {
    .index-content title,.index-content .text{display: none;}
    .index-content{
        top:0;
    }
}

@media (max-height:640px) {
    .main-message{
        display:none;
    }
    .experience-outdoors{
        position: relative;
        top: 250px;
    }
}
@media (min-height: 800px) {
    .hero{
        height:53vh;
    }

}
@media (min-height: 1000px) {
    .hero{
        height:43vh;
    }
}
