.overlay {background-image: linear-gradient(to right, rgba(49,24,131,0.9), rgba(84, 96, 234, 0.9)); width: 100%; height: 100%; z-index: 1; position: relative;  padding: 110px 2px;}
.section-bg { background-size: cover; position: relative; background-position: left; z-index: 0; padding: 0; overflow: hidden;  }
.contact-form { position: relative; padding: 45px 0 45px 60px;}
.contact-form:before {position: absolute;content: ''; top: 0; right: 0; bottom: 0; left: 0; border-radius: 6px; background: #fff; box-shadow: 10px 40px 40px rgba(0,0,0,.2); pointer-events: none;  right: auto;  width: 100vw;}
.contact-form input {border: 0; display: block; width: 100%; min-height: 50px; padding: 11px 0; font-size: 14px; line-height: 27px; border-radius: 0; -webkit-appearance: none;  transition: .3s ease-in-out; border: 2px solid transparent; border-bottom-color: rgba(0,0,0,.1);}
.contact-form textarea {border: 0; background: transparent; display: block; width: 100%; min-height: 50px; padding: 11px 0; font-size: 14px; line-height: 27px; border-radius: 0; -webkit-appearance: none; transition: .3s ease-in-out; border: 2px solid transparent; border-bottom-color: rgba(0,0,0,.1);}
.contact-form input::placeholder {color:rgba(49,24,131,0.6); font-weight: 100; }
.contact-form textarea::placeholder {color:rgba(49,24,131,0.6); font-weight: 100;}
.contact-form input { margin-bottom: 30px; font-size: 16px; height: 55px; }
.contact-form input:hover, .contact-form input:focus{outline: none; box-shadow: none; border: 2px solid transparent;border-bottom-color: rgb(254, 132, 111);}
.contact-form textarea:hover, .contact-form textarea:focus{outline: none;box-shadow: none; border: 2px solid transparent; border-bottom-color: rgb(254, 132, 111);}
.contact-info {padding: 15px 30px 0 0; border: 1px dashed  #FE846F; color:rgba(84, 96, 234, 0.9);; font-family: sans-serif;}
h2.contact-title {font-size: 30px;font-weight: 100; margin-bottom: 30px; position:relative; z-index: 1; color:#FE846F;}
.contact-info p { position:relative; z-index: 1; font-size: 12pt;color: #232323}
ul.contact-info {margin-top: 30px; position:relative; z-index: 1;}
ul.contact-info li {margin-bottom: 22px;}
ul.contact-info span {font-size: 16px;line-height: 20px;}
ul.contact-info li {display: flex; width: 100%;}
.info-left {width: 20%;}
.info-right { margin-top: 33px;}
.info-left i {width: 30px;height: auto;}
.info-right h4 {font-size: 18px;}
.contact-page .info-left i{color: #FE846F;}
.btn {display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; padding: 10px 30px 10px; font-size: 17px; line-height: 28px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;}
.btn-big {color: #FE846F; -webkit-box-shadow: 0px 5px 20px 0px rgba(45, 45, 45, 0.4); box-shadow: 2px 5px 10px 0px rgba(45, 45, 45, 0.19); margin-right: 20px; transition: .2s; margin-top: 50px;}
@media only screen and (max-width: 767px) {
    .contact-form {padding: 30px;}
    .contact-form:before {width: 100%;}
    .contact-info p {font-size: 11pt;color: #fff}}
@media only screen and (max-width: 991px) {
    .contact-info{color: #fafafa; border: none;}
    h2.contact-title{border: none; color: #fff;}
    .info-left i{color: #fff;}
    .contact-info p {font-size: 13pt;color: #fff}}

