.wave{position: fixed; height: 100%; right: 0; bottom: 0; z-index: -1; width:65%; height: 90%}
.container{width: 100vw; height: 100vh; display: grid; grid-template-columns: repeat(2,1fr); grid-gap:7rem; padding: 0 2rem;}
.section-container {display: flex; align-items: center; text-align: center;}
#msg_place{color: #8bed4f}
form{width: 350px;
}
.text-for-title{font-size: 1.5rem; color: rgb(254, 132, 111); font-weight: bold; border-bottom: 1px dashed rgba(74,0,224,.3); padding:1rem;border-radius: 50%}
.input-div{position: relative; display: grid; grid-template-columns: 7% 93%; margin: 20px 0; padding: 3px 0;}
.input-div:hover, .input-div:focus{outline: none; box-shadow: none; }
.i{display: flex; justify-content: center; align-items: center;}
.i i{ transition: .3s;}
.input-div > div{position: relative; height: 45px;  }
.input-div > div label{
    position: absolute;
    left:10px;
    top:50%;
    color:#999;
    font-size: 1.3rem;
}
.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    border: none;
    border-bottom:1px solid  rgba(96,9,240,0.2);
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-family: 'B Yekan',sans-serif;
    color: #555;

}
.input:focus{
    border-bottom:1px solid #feac5e;
}
label{
    position: absolute;
    bottom: 50%;
    left:15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    transition: .5s;

}

.input-div input.focus ~ label,
.input-div input:valid ~ label{
    transform: translateY(-33px);
    font-size: 9pt;
    color: #1DA1F2;
}
.input-div.one{
    margin-top: 0;
}
.input-div.two{
    margin-top: 4px;
}
.input-div.tree{
    margin-top: 4px;
}
.input-div.four{
    margin-top: 4px;
}

.inline-flex a{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.8rem;
    transition: .3s;
}
.sign-in-button{
    color: #7b79ff;
    font-size: 10pt;
    border-bottom: 1px dashed #7b79ff;
    width: 100%;
    border-radius: 0 0 50px 50px;!important;

}
.sign-in-button:hover{
    color: #feac5e;
    width: 100%;
    border-radius: 0 0 10px 10px;!important;
    border-bottom: 1px solid #feac5e;

}
.button-form-submit{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 0 0;!important;
    margin: 1rem 0;
    font-size: 1.3rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: sans-serif;
    background-size: 200%;
    transition: .5s;
    background-image: -webkit-linear-gradient(left, #feac5e,#c779d0, #4bc0c8 );
}
.button-form-submit:hover{
    background-position: right;
}
.img-in-registration-page{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
@media (max-width:1600px){
    .wave{
        width: 55%;
    }

}
@media (max-width:1400px){
    .wave{
        width: 55%;
    }
}
@media (max-width:1200px){
    .wave{
       width: 50%;
    }
}
@media (max-width: 1000px) {
    .wave{
        width: 45%;
    }
    .container{
        grid-gap:5rem;
    }
    form{
        width:290px;
    }
    form h1{
        font-size: 2.4rem;
        margin: 8px 0;
    }


}

@media (max-width: 975px) {
    .wave{
        width: 40%;
    }
    .container{
        grid-template-columns: 1fr;
    }

    .wave{
        display: none;
    }
    .section-container{
        justify-content: center;
        align-items: center;
    }
}



