
.wrapper{margin:25px auto;width:1000px;position:relative;}
.wrapper:after{content:"";display:table;clear:both}
.pageLayout{min-height:475px;margin-top: 3rem}
.block{background-color:#fff;padding:20px;border-radius:5px;box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)}
.blockPadding{padding:20px}
.block.noPadding{padding:0}
.block p.noPadding{margin:0 -20px}
.block.bottomSpacing{margin-bottom:20px}hr{height:1px;border:none;background:#ddd}
.block hr{margin:20px -20px}
.block.noPadding hr{margin:20px 0}
.footerMenu.Home #footerHome,.footerMenu.Blog #footerBlog,.footerMenu.Courses #footerCourses,.footerMenu.Contact #footerContacts,.footerMenu.Privacy-Policy #footerPrivacy-Policy{color:#383737}#footer{width:100%;background-color:#eaedf1;overflow:hidden}


@media screen and (max-width:1030px){.wrapper{width:auto;margin-left:15px;margin-right:15px}}


.coursesTitle{font-size:2.4em;text-align:center;margin-top:20px;font-weight:bold}
.categoriesContent{margin-top:20px;margin-bottom:10px;text-align:center}
.category{display:inline-block;overflow:hidden;width:150px;padding:4px;cursor:pointer;margin-left:5px;margin-bottom:10px}
.category div{overflow:hidden;margin-left:5px}
.category p{float:left;overflow:hidden;font-size:1.2em;color:#bababa;margin-left:5px;margin-top:8px;margin-bottom:0}
.coursesContent{position:relative}
.article{margin-bottom:25px;display:block;text-decoration:none}
.articleHeader{overflow:hidden;margin-bottom:15px}
.articleTitle{float:left;overflow:hidden;width:75%}
.archiveIcon{width:20px;height:20px;float:left;overflow:hidden;margin-right:15px;background-position:-5px -340px;display:block}
.courseLessons{margin-top:20px}
.lessonTitle{overflow:hidden;margin-bottom:15px}
.lessonOverview{float:right;overflow:hidden}
.lessonOverview .videos,.lessonOverview .quizzes{float:left;overflow:hidden;margin-right:20px}
.videoIcon{float:left;vertical-align:middle;width:20px;height:25px;background-position:-7px -439px}
.quizIcon{float:left;vertical-align:middle;width:20px;height:25px;background-position:-38px -439px}
.lessonOverview div span{margin-left:5px;color:#b4bbc2}
.courseModule{padding:10px;background-color:#f0f0f0;border-radius:5px;margin-bottom:15px}
.courseModule p{font-weight:bold;color:#3a464b;font-size:1.5em}
.lessonLeft{float:left;overflow:hidden}
.lessonRight{float:right;overflow:hidden}
.lessonNumber,.courseLessonTitle{float:left;overflow:hidden}
.lessonVideo,.lessonChecks{float:left;overflow:hidden;background-color:#f0f0f0;border-radius:5px}
.lessonVideo{width:95px}
.lessonVideo .videoIcon,.lessonChecks .quizIcon{margin-top:2px}
.lessonChecks{margin-left:10px;width:60px}.lessonVideo p,.lessonVideo div,.lessonChecks p,.lessonChecks div{float:left;overflow:hidden;margin-left:5px}
.lessonNumber{padding-right:10px;border-right:1px solid #f0f0f0}
.courseLessonTitle{margin-left:5px;margin-right:5px}
.lessonNumber,.courseLessonTitle{font-weight:500;font-size:1.4em}
.lessonVideo img{width:10px;margin-top:8px}
.lessonChecks img{width:7px;margin-top:5px}
.lessonChecks p,.lessonVideo p{font-size:1.4em;margin-left:5px;margin-right:5px;padding:5px}.takeCourse{overflow:hidden}
.takeCourse p,.courseReviewTitle{font-weight:500;font-size:1.75em;color:#393635;margin:0}
.takeCourse a{display:block;margin-top:15px;opacity:1;text-decoration:none}
.takeCourse a:hover{opacity:.8}
.courseGooglePlay{width:250px;height:90px;background-position:0 -5px;margin-left:auto;margin-right:auto}
.courseWindowsStore{width:250px;height:90px;background-position:0 -100px;margin-left:auto;margin-right:auto}
.courseAppStore{width:250px;height:90px;background-position:0 -195px;margin-left:auto;margin-right:auto}
.courseWebSite{width:250px;height:90px;background-position:0 -293px;margin-left:auto;margin-right:auto}
.courseWeb{width:250px;height:80px;text-align:center;background-color:#8bc34a;border-radius:10px;font-size:2.5em;font-weight:bold;line-height:3;color:#fff;margin-left:auto;margin-right:auto}

.courseReviews{margin-top:20px;overflow:hidden;padding:20px;background-color:#fff;border-radius:10px}
.courseReviewsContent{overflow:hidden}
.courseReviews .reviewUser p{margin:0;font-size:1.3em;color:#b4bbc2}
ul ol,ol ul,ul ul,ol ol{font-size:1em!important}
.dynamicPageInfo p{font-size:1.4em;line-height:1.7;margin-bottom:15px;margin-top:15px;color:#3a464b}
.postContent{background-color:#f2f2f2;overflow:hidden;width:100%}.post img{width:100%}
.input-validation-error,#text.input-validation-error{border-color:#f44;border-width:2px}
.field-validation-error{display:block;font-weight:bold;font-size:1.3em;margin-top:10px;text-align:right}.socialOutline{font-size:0;margin-top:15px;overflow:hidden;padding-right:0}
.socialOutline div{float:left;width:100px}
.socialOutline .googleplusShare{width:80px}

.Course>.content,.Forum>.content{min-height:1010px}
@media screen and (max-width:750px){.category{padding:0}}
@media screen and (max-width:670px){
    .lessonOverview{float:none;text-align:center}
    .lessonOverview .videos,.lessonOverview .quizzes,.lessonOverview .videos div,.lessonOverview .quizzes div{display:inline-block;margin-right:0;float:none}
    .lessonOverview div span{vertical-align:middle}
    .lessonLeft{margin-bottom:10px}
    .lessonNumber,.courseLessonTitle{float:none}}
@media screen and (max-width:625px){.articleTitle{float:none;display:block;width:auto}
    .articleDate{float:none;display:block}}
@media screen and (max-width:615px){.header{margin-left:10px}
    .blocked .header{height:250px}
    .closeModules .courseLesson{display:none}
    .closeModules .courseModule{margin-bottom:15px}}
@media screen and (max-width:480px){.category{margin-left:2px}}
@media screen and (max-width:475px){.category{float:none;margin-left:auto;margin-right:auto}
    .courseDescription div{text-align:center}
    .category{width:160px}
    .courseOverview .courseDescription{text-align:center;margin-left:auto}
    .courseDescription{float:none;margin-left:auto;margin-right:auto;overflow:hidden}
    .courseWeb{height:50px;width:155px;line-height:2}
    .articleTitle{font-size:1.7em}}
    .lessonOverview .videos,.lessonOverview .quizzes{margin-bottom:10px}
.material{box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24)}
.material.level2{box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)}
.material.level3{box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23)}
.material.level4{box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)}
.material.level5{box-shadow:0 19px 38px rgba(0,0,0,.3),0 15px 12px rgba(0,0,0,.22)}
.actionButton{width:60px;height:60px;border-radius:30px;box-shadow:0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);border:none;background:#0ad;cursor:pointer}
.actionButton:hover{box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22)}
.materialButton{background:none;border:none;overflow:hidden;position:relative;padding:8px;min-width:50px;color:#777;cursor:pointer;text-transform:uppercase;border-radius:3px;font-size:14px;outline:none;display:inline-block}
a.materialButton{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.materialButton.small{padding:5px;font-size:12px}
.materialButton.disabled{cursor:auto;color:#d0cccc}
.materialButton,.materialButton:hover{text-decoration:none}
.materialIcon,.actionButton{overflow:hidden;position:relative;border-radius:50%;cursor:pointer;z-index:10}
.materialResponse{overflow:hidden;position:relative}
.materialWave{content:'';display:block;position:absolute;height:160px;width:160px;background:rgba(0,0,0,.1);border-radius:50%;transform:scale(0,0);-webkit-transform:scale(0,0);z-index:0;pointer-events:none}
.materialButton.negative{color:#d62d20}
.materialButton.negative .materialWave{background:rgba(255,55,0,.2)}
.materialButton.primary,.materialButton.positive{color:#09f}
.materialButton.primary .materialWave,.materialButton.positive .materialWave{background:rgba(0,144,255,.2)}
.actionButton .materialWave,.materialResponse .materialWave{background:rgba(255,255,255,.2)}
.materialButton.elevated{color:#333;background:#aaa;padding:10px 20px}
.materialButton.primary.elevated{color:#fff;background:#09f}
.materialButton.primary.elevated .materialWave{background:rgba(255,255,255,.1)}
.materialSpinner{-webkit-animation:materialSpinnerRotate 1.4s linear infinite;animation:materialSpinnerRotate 1.4s linear infinite;height:100px;position:relative;width:100px;margin:auto;display:block}
.materialSpinner .path{stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:materialSpinnerDash 1.4s ease-in-out infinite,materialSpinnerColor 5.6s ease-in-out infinite;animation:materialSpinnerDash 1.4s ease-in-out infinite,materialSpinnerColor 5.6s ease-in-out infinite;stroke-linecap:round}
a{text-decoration:none}
h2{font-size:22px;font-weight:normal;color:#555}
h3{font-size:16px;font-weight:normal;color:#555}
.block{font-size:14px}
#userCodes::-webkit-scrollbar{-webkit-appearance:none;width:3px}
#userCodes::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(0,0,0,.5);-webkit-box-shadow:0 0 1px rgba(255,255,255,.5)}
.userProfile{font-size:10px;position:relative;min-height:120px;overflow:hidden}
.userProfile .user,.userProfile .course{white-space:nowrap}
.userProfile .name{font-size:32px;font-weight:normal;color:inherit;white-space:normal}
.userProfile .name.long{font-size:24px}
.userProfile .name a{font-size:16px;font-weight:300;color:inherit;vertical-align:top}
.userProfile .detail{font-size:16px}
.userProfile .detail label::after{content:':'}
.userProfile .socialOutline{direction:ltr;text-align:left;margin-top:5px;margin-left:144px}
.courseUserProfile .socialOutline{margin-left:0;float:right}
.userProfile .avatar{background:url('../../assets/images/about-us.jpg');border-radius:50%;height:150px;width:150px;overflow:hidden;display:inline-block;}
.userProfile .avatar img{max-width: 150px; min-height: 150px }
.userProfile .details{margin:20px 0 0 20px;color:#555;display:inline-block;vertical-align:top;white-space:normal}
.userProfile.current .details{margin-top:10px; padding-bottom:.3rem }
.courseUserProfile .user{text-align:right;direction:rtl}
.userProfile .user .details{padding-right:5rem}
.courseUserProfile .user .details{text-align:right;margin-left:0;margin-right:20px;direction:ltr;padding-left:120px;padding-right:0}
.courseUserProfile .course .details{padding-right:120px}
.courseUserProfile .user,.courseUserProfile .course{width:46%;overflow:hidden;float:left}
.courseUserProfile .user{padding-right:4%}
.courseUserProfile .course{padding-left:4%}
.userProfile .currentCourse{height:36px;width:36px;border-radius:50%;position:absolute;left:80px;top:80px}
.userProfile .materialButton{margin:10px 0 0;font-size:14px;padding:4px 8px}
.userCoursesTitle{overflow:hidden}
.userCoursesTitle h2{display:inline-block;vertical-align:middle}
.userCoursesTitle .manageUserCourses{display:inline-block;vertical-align:middle;background-repeat:no-repeat;width:20px;height:20px;border:none;background-position:0 0;cursor:pointer;margin:0 0 0 5px;outline:none}
.userCoursesTitle .manageUserCourses:hover{background-position:-20px 0}
.noCourses{text-align:center;margin:35px 0 20px 0}
.noCourses .title{margin:5px 0;font-size:17px;color:#777;font-weight:bold}
.noCourses .publicProfile.title{font-weight:normal;font-size:14px}
.noCourses .description{margin:0 0 10px 0;font-size:14px}
.userCourses{margin-top:10px;text-align:center}
.userCourses .courseWrapper{display:inline-block;position:relative;margin:0 5px}
.userCourses .course{display:inline-block;width:50px;height:50px;border-radius:50%;overflow:hidden;position:absolute;top:5px;left:5px}
.userCourses .course img{max-width:100%;max-height:100%}
.userCourses .courseXp{font-size:11px;margin:5px 0 0 0}

.userAchievements{overflow:hidden;width:600px;margin:auto}
.userAchievements .achievement.icon,.userAchievements .achievement .icon{display:block;border-radius:50%;float:left;height:100px;margin:10px;width:100px;background:#bbb}
.userAchievements.full{width:auto}
.userAchievements.full .achievement{width:50%;float:left;min-width:360px}
.userAchievements .achievement img{margin:10px;height:80px}
.userAchievements .achievement{overflow:hidden}
.userAchievements .achievement .title{font-size:20px}
.userAchievements .achievement .details{padding:35px 0 0 0;font-size:13px;overflow:hidden}
.userAchievements .achievement.disabled{color:#999}
.materialButton.elevated:hover{background:#a0a0a0}
.materialButton.primary.elevated{color:#fff;background:#7b79ff}
.materialButton.primary.elevated:hover{background:#4A00E0}

.materialButton{display:inline-block;vertical-align:top;padding:10px;font-size:16px;text-decoration:none}

